<div class="jumbotron">
    <h1 class="display-1 mb-5">Upload Users</h1>
    <form action ="/users" method="POST" enctype="multipart/form-data">
        <input id="file" type="file" name="sampleFile" value=""><br><br>
        <input id="upload" type="submit" value="Upload" disabled>
    </form>
</div>