<div class="container-fluid">
    <div class="row">
        <ul>
        {{#each users}}
            <li>
                {{FullName}}
            </li>
        {{/each}}
        </ul>
        

    </div>
</div>